#NameBackground {
    background: linear-gradient(300deg,darkviolet,#730000,#b93800,#ff9800);
    background-size: 180% 180%;
    animation: gradient-animation 9s ease infinite;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#NameBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#NameContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: radial-gradient(circle, rgba(112,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(112,0,0,1) 100%);
    border: 20px solid #FF9800;
    box-shadow: 0 0 .2rem #FF9800, 0 0 .2rem #FF9800, 0 0 2rem #FF9800, 0 0 0.8rem #FF9800, 0 0 2.8rem #FF9800, inset 0 0 1.3rem #FF9800;
    border-radius: 20px;
    padding: 20px;
    width: 1200px;
    height: 700px;
}

#NameText, #NameHeader {
    display: flex;
    height: 60px;
    align-items: center;
    font-size: 36px;
    color: white;
}

#NameText {
    border: 2px solid #a7b0b9;
    border-radius: 10px;
    padding-inline: 20px;
}

#NameKeyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboardRow {
    display: flex;
    gap: 10px;
}

#NameKeyBoardRow2 {
    margin-left: 55px;
}

#NameKeyBoardRow3 {
    margin-left: 110px;
}

.keyboardButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: #263e4a;
    font-weight: bold;
    font-size: 28px;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    background-color: lightsteelblue;
    border: 2px solid #0e79b2;
    border-radius: 0.5rem;
    box-shadow: 0 2px #4682B4, 0 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.inactive {
    cursor: default;
    background-color: #cad2d9;
    color: #a7b0b9;
    border: 2px solid #a7b0b9;
    box-shadow: 0 2px #a7b0b9, 0 5px rgba(0, 0, 0, 0.2);
}

.standardButton {
    width: 100px;
}

.wideButton {
    width: 150px;
}

.spaceButton {
    width: 770px;
    font-size: 36px;
}