body {
}

div {
    box-sizing: border-box;
}

#slotsContainerOuter {
    display: flex;
    justify-content: center;
    position: relative;
}

#middleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

#linesCanvas {
    position: absolute;
    z-index: 10;
    margin-top: 10px;
}

#slotsContainer {
    display: grid;
    gap: 0px 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    position: relative;
}

.slotContainer {
    position: relative;
}

.window {
    position: relative;
    overflow: hidden;
    border: 1px solid black;
}

.hidden {
    visibility: hidden;
}

.innerBox {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 72px;
}

.innerBox > img {
    width: 100px;
    height: 100px;
}

#loginOverlayBackground {
    background-color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#loginOverlayContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#loginOverlay {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 300px;
    font-size: 60px;
    border-radius: 20px;
}

#playerInfo {
    display: flex;
    border: 1px solid black;
    padding: 0px;
    gap: 50px;
    font-size: 32px;
}

#playerNameContainer, #playerCashContainer, #playerBetContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
}

.innerBox:nth-child(even) {
    background-color: unset;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameButton {
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 50px;
    height: 75px;
    width: 150px;
    background-color: lightblue;
    border-radius: 20px;
    cursor: pointer;
    color: black;
}

#resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 60px;
}

.glow {
    border: 5px solid #ffd800;
    box-shadow: 0px 0px 5px 5px #ffd800;
}

#editorButton {
    width: 75px;
    height: 75px;
    background-color: red;
}

#linesButtonsContainer, #gameButtonsContainer {
    display: flex;
    gap: 10px;
}