body {
}

div {
    box-sizing: border-box;
}

#slotsContainerOuter {
    display: flex;
    justify-content: center;
    position: relative;
}

#middleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.hidden {
    visibility: hidden;
}

#playerInfo {
    display: flex;
    padding: 0px;
    gap: 50px;
    font-size: 32px;
    color: #0094b9;
    font-family: GrandCasino;
}

#playerName, #playerCash, #playerBet {
    color: #FF9800;
}

#playerNameContainer, #playerCashContainer, #playerBetContainer {
    display: flex;
    gap: 10px;
    padding: 5px;
}

#buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gameButton {
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    gap: 50px;
    height: 75px;
    width: 150px;
    background-color: lightblue;
    border-radius: 20px;
    cursor: pointer;
    color: black;
    font-family: GrandCasino;
}

#resultContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    gap: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid black;
    height: 60px;
}

.glow {
    border: 5px solid #ffd800;
    box-shadow: 0px 0px 5px 5px #ffd800;
}

#editorButton {
    width: 75px;
    height: 75px;
    background-color: red;
}

#linesButtonsContainer, #gameButtonsContainer {
    display: flex;
    gap: 10px;
}

#editNameButton {
    font-size: 12px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    background-color: lightblue;
    color: black;
}