<link rel="stylesheet" href="~/css/addcash.css" asp-append-version="true" />

<div id="AddCashContainer">
    <div id="AddCashOverlayBackground">
        <div id="AddCashOverlayContainer">
            <div id="AddCashOverlay">
                <div id="TapCard">Tap admin card</div>
                <a href="/Home/Index">
                    <div id="ReturnHome">Return home</div>
                </a>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/ts-dist/AddCash.js" asp-append-version="true"></script>