@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/slotmachine.css" asp-append-version="true" />

<div id="loginOverlayBackground">
    <div id="loginOverlayContainer">
        <div id="loginOverlay">
            Tap card to login
        </div>
    </div>
</div>

<div id="playerInfo">
    <div id="playerNameContainer">
        <div id="playerNameLabel">Logged in as:</div>
        <div id="playerName"></div>
    </div>
    <div id="playerCashContainer">
        <div id="playerCashLabel">Cash:</div>
        <div id="playerCash"></div>
    </div>
</div>

<div id="slotsContainerOuter" class="">
    <canvas id="linesCanvas"></canvas>
    <div id="slotsContainer" class="">
    </div>
</div>

<div id="resultContainer">
</div>

<div id="buttonsContainer">
    <div id="lines4Button" class="linesButton">4 Lines</div>
    <div id="lines8Button" class="linesButton">8 Lines</div>
    <div id="lines12Button" class="linesButton">12 Lines</div>
    <div id="spinButton">Spin</div>
    <div id="quitButton">Quit</div>
</div>

<script type="module" src="~/ts-dist/Index.js" asp-append-version="true"></script>