@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/slotmachine.css" asp-append-version="true" />

<a href="#" id="startButton">Go</a>

<div class="container">
    <div class="window">
        <div id="tallBox1" class="position"></div>
    </div>
    <div class="window">
        <div id="tallBox2" class="position"></div>
    </div>
    <div class="window">
        <div id="tallBox3" class="position"></div>
    </div>
</div>

<script type="module" src="~/ts-dist/Index.js" asp-append-version="true"></script>