@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/slotmachine.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/addcash.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/slot.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/nameeditor.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/paytable.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/loginoverlay.css" asp-append-version="true" />

<div id="slotPageContainer" class="hidden">
    <div id="loginOverlayBackground">
        <div id="loginOverlayContainer">
            <div id="loginOverlay">
                <div id="loginRow1">


                    <svg viewBox="0 0 600 200">
                        <path id="curve" d="M50,180 C200,20 400,20 550,180" />
                        <text width="600">
                            <textPath xlink:href="#curve">
                                Brittany and Bailey's
                            </textPath>
                        </text>
                    </svg>



                </div>
                <div id="loginRow2"><div id="casinoText">Birthday Casino</div></div>
                <div id="loginRow3">SLOTS</div>
                <div id="loginRow4">Tap card to play</div>
            </div>
        </div>
    </div>

    <partial name="PayTable.cshtml" />


    <div id="AddCashContainer" class="hidden">
        <div id="AddCashOverlayBackground">
            <div id="AddCashOverlayContainer">
                <div id="AddCashOverlay">
                    <div id="TapCard">Tap admin card</div>
                    <div id="ReturnHome">Return home</div>
                </div>
            </div>
        </div>
    </div>


    <div id="NameBackground" class="hidden">
        <div id="NameBody">
            <div id="NameContainer">
                <div id="NameHeader">
                    Enter your name:
                </div>
                <div id="NameText">
                </div>
                <div id="NameKeyboard">
                    <div id="NameKeyBoardRow1" class="keyboardRow">
                        <div class="keyboardButton standardButton">Q</div>
                        <div class="keyboardButton standardButton">W</div>
                        <div class="keyboardButton standardButton">E</div>
                        <div class="keyboardButton standardButton">R</div>
                        <div class="keyboardButton standardButton">T</div>
                        <div class="keyboardButton standardButton">Y</div>
                        <div class="keyboardButton standardButton">U</div>
                        <div class="keyboardButton standardButton">I</div>
                        <div class="keyboardButton standardButton">O</div>
                        <div class="keyboardButton standardButton">P</div>
                    </div>
                    <div id="NameKeyBoardRow2" class="keyboardRow">
                        <div class="keyboardButton standardButton">A</div>
                        <div class="keyboardButton standardButton">S</div>
                        <div class="keyboardButton standardButton">D</div>
                        <div class="keyboardButton standardButton">F</div>
                        <div class="keyboardButton standardButton">G</div>
                        <div class="keyboardButton standardButton">H</div>
                        <div class="keyboardButton standardButton">J</div>
                        <div class="keyboardButton standardButton">K</div>
                        <div class="keyboardButton standardButton">L</div>
                    </div>
                    <div id="NameKeyBoardRow3" class="keyboardRow">
                        <div class="keyboardButton standardButton">Z</div>
                        <div class="keyboardButton standardButton">X</div>
                        <div class="keyboardButton standardButton">C</div>
                        <div class="keyboardButton standardButton">V</div>
                        <div class="keyboardButton standardButton">B</div>
                        <div class="keyboardButton standardButton">N</div>
                        <div class="keyboardButton standardButton">M</div>
                    </div>
                    <div id="NameKeyBoardRow4" class="keyboardRow">
                        <div id="backspaceButton" class="keyboardButton wideButton inactive">Del</div>
                        <div id="spaceButton" class="keyboardButton spaceButton">␣</div>
                        <div id="submitButton" class="keyboardButton wideButton inactive">Submit</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="playerInfo">
        <div id="playerNameContainer">
            <div id="playerNameLabel">User:</div>
            <div id="playerName"></div>
            <div id="editNameButton">Edit</div>
        </div>
        <div id="playerCashContainer">
            <div id="playerCashLabel">Cash:</div>
            <div id="playerCash"></div>
        </div>
        <div id="playerBetContainer">
            <div id="playerBetLabel">Bet:</div>
            <div id="playerBet"></div>
        </div>
    </div>

    <div id="middleContainer">
        <div id="slotsContainerOuter" class="">
            <canvas id="linesCanvas"></canvas>
            <div id="slotsContainer" class="">
            </div>
        </div>

        <div id="spinButton" class="gameButton">Spin</div>
    </div>

    <div id="resultContainer">
    </div>

    <div id="buttonsContainer">
        <div id="linesButtonsContainer">
            <div id="lines4Button" class="gameButton linesButton" data-lines="4">4 Lines</div>
            <div class="gameButton linesButton" data-lines="8">8 Lines</div>
            <div class="gameButton linesButton" data-lines="14">14 Lines</div>
            <div class="gameButton linesButton" data-lines="20">20 Lines</div>
        </div>
        <div id="gameButtonsContainer">
            <div class="gameButton" id="showPayButton">Pay Table</div>
            <div class="gameButton" id="addButton">Add Cash</div>
            <div class="gameButton" id="quitButton">Quit</div>
        </div>
    </div>
</div>
<script type="module" src="~/ts-dist/Index.js" asp-append-version="true"></script>