<link rel="stylesheet" href="~/css/nameeditor.css" asp-append-version="true" />

<div id="NameBackground">
    <div id="NameBody">
        <div id="NameContainer">
            <div id="NameHeader">
                Enter your name:
            </div>
            <div id="NameText">
            </div>
            <div id="NameKeyboard">
                <div id="NameKeyBoardRow1" class="keyboardRow">
                    <div class="keyboardButton standardButton">Q</div>
                    <div class="keyboardButton standardButton">W</div>
                    <div class="keyboardButton standardButton">E</div>
                    <div class="keyboardButton standardButton">R</div>
                    <div class="keyboardButton standardButton">T</div>
                    <div class="keyboardButton standardButton">Y</div>
                    <div class="keyboardButton standardButton">U</div>
                    <div class="keyboardButton standardButton">I</div>
                    <div class="keyboardButton standardButton">O</div>
                    <div class="keyboardButton standardButton">P</div>
                </div>
                <div id="NameKeyBoardRow2" class="keyboardRow">
                    <div class="keyboardButton standardButton">A</div>
                    <div class="keyboardButton standardButton">S</div>
                    <div class="keyboardButton standardButton">D</div>
                    <div class="keyboardButton standardButton">F</div>
                    <div class="keyboardButton standardButton">G</div>
                    <div class="keyboardButton standardButton">H</div>
                    <div class="keyboardButton standardButton">J</div>
                    <div class="keyboardButton standardButton">K</div>
                    <div class="keyboardButton standardButton">L</div>
                </div>
                <div id="NameKeyBoardRow3" class="keyboardRow">
                    <div class="keyboardButton standardButton">Z</div>
                    <div class="keyboardButton standardButton">X</div>
                    <div class="keyboardButton standardButton">C</div>
                    <div class="keyboardButton standardButton">V</div>
                    <div class="keyboardButton standardButton">B</div>
                    <div class="keyboardButton standardButton">N</div>
                    <div class="keyboardButton standardButton">M</div>
                </div>
                <div id="NameKeyBoardRow4" class="keyboardRow">
                    <div id="backspaceButton" class="keyboardButton wideButton inactive">←</div>
                    <div id="spaceButton" class="keyboardButton spaceButton">␣</div>
                    <div id="submitButton" class="keyboardButton wideButton inactive">↵</div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="module" src="~/ts-dist/NameEditor.js" asp-append-version="true"></script>