<div id="payTableBackground" class="hidden">
    <div id="payTableContainer">
        <div id="payTable">
            <div id="payTableRows">

                <div class="payTableRow">

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/05.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">2500</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">500</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">250</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower">Wild for all symbols</div>
                    </div>

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/06.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">500</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">200</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">75</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower">Wild for all symbols</div>
                    </div>

                </div>

                <div class="payTableRow">

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/10.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">100</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">60</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">20</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower"></div>
                    </div>

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/09.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">100</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">50</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">15</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower"></div>
                    </div>

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/08.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">75</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">25</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">10</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower"></div>
                    </div>

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/07.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">60</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">25</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">10</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower"></div>
                    </div>

                </div>

                <div class="payTableRow">

                    <div class="payTableCell">
                        <div class="payTableCellUpper">
                            <div class="payTableIcon">
                                <img src="~/images/12.png" />
                                <img src="~/images/11.png" />
                                <img src="~/images/04.png" />
                                <img src="~/images/03.png" />
                                <img src="~/images/02.png" />
                                <img src="~/images/01.png" />
                            </div>
                            <div class="payTableAmounts">
                                <div class="payTableAmount">
                                    <div class="payTableNumber">5</div><div class="payTablePrize">50</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">4</div><div class="payTablePrize">15</div>
                                </div>
                                <div class="payTableAmount">
                                    <div class="payTableNumber">3</div><div class="payTablePrize">5</div>
                                </div>
                            </div>
                        </div>
                        <div class="payTableCellLower"></div>
                    </div>

                </div>

            </div>
        </div>
        <div id="exitPayTableButton">Close</div>
    </div>
</div>